@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: ghostwhite;
}

.App {
  text-align: center;
  max-width: 40%;
  margin: auto;
}

.btn{
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 0.5px solid black;
  margin: 0.5rem;
}

.container{
  border: 0.5px solid grey;
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 1rem 0;
  max-width: 70%;
  text-align: left;
}

.container p {
  margin:  0;
}